# Database Configuration
NEXT_PUBLIC_BACKEND_BASE_URL=http://localhost:8000/

# Chat Platform Configuration
NEXT_PUBLIC_CHAT_PLATFORM_URL=http://localhost:3000/chat

# PostHog Analytics
NEXT_PUBLIC_POSTHOG_TOKEN=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
