# Application Settings
APP_NAME="AWRAS API"
APP_VERSION="1.0.0"
DEBUG=false

# Database Configuration
# Use localhost for local development
#NOTE: the conatiner name should be insead of localhost when dockerizing the app
DATABASE_URL="postgresql://awras_user:awras_password@postgres:5432/awras"

# Redis url
REDIS_URL="redis://redis:6379"

# CORS Settings
CORS_ORIGINS=["http://localhost:3000","http://localhost:3001","http://localhost"]

# API Settings
API_V1_PREFIX="/api/v1"

POSTGRES_DB=awras
POSTGRES_USER=awras_user
POSTGRES_PASSWORD=awras_password

# frontend dependencies
NEXT_PUBLIC_BACKEND_BASE_URL=http://localhost:8000/
